# Clock at 92.85MHz
NET "Clk" LOC = "N8"; # EIM_BCLK
NET "Clk" TNM_NET = "Clk";
TIMESPEC "TS_Clk" = PERIOD "Clk" 10.77 ns HIGH 50 %;

# LED
NET "q" LOC = "G14"| IOSTANDARD = LVCMOS33 ; #IO_L41P_GCLK9
