# Blinky UCF for Nexys 2 board with Spartan-3E

NET "clk" LOC = "B8" | IOSTANDARD = LVCMOS33 ;   
NET "clk" CLOCK_DEDICATED_ROUTE = FALSE;

# Pin assignment for LEDs
NET "q" LOC = "J14"  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ; # LED<0>
